body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.notFound {
  color: #fff;
}

.searchResult {
  color: #fff;
  margin-bottom: 50px;
}

.cardLink{
  text-decoration: none;  
}

.loadingHeader {
  align-items: center;
  display: flex;
  justify-content: center;
}

.musicContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 20px; 
}

.musicContainer h1, h2 {
  color: #fff;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  transition: ease 0.5s;
  color: #fff;
}

a:hover {
  cursor: pointer;
  transform: scale(1.1);;
  color:rgb(13, 12, 14);  
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80vh;
  border: 1px solid #fff;
  border-radius: 5px;
}

.imageAndInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageContainer {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 10%;
  margin: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;  
  justify-content: space-around;
  width: 400px;
  height: 200px;
  font-size: 22px;
  color: #fff;
}

.nameContainer, .emailContainer {
  display: flex;
  flex-direction: row;  
  align-items: center; 
}

.profileName, .profileEmail, .profileBio {
  margin-left: 10px;
}

.bioContainer {
  color: #fff;
  margin: 10px;
  height: 200px;
  width: 600px;
  border: 1px solid #fff;
  padding: 10px;
}

.editProfileBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: blueviolet;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;  
  color: #fff;
  font-size: 18px;
}

.form button {
  width: 100px;
  height: 40px;
  font-size: 15px;
}

.editNameContainer, .editEmailContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.editBioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editNameContainer input, .editEmailContainer input, .editBioContainer textarea {
  font-size: 18px;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}